@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --blue: #2929CC;
    --light-blue: #6677CC;
    --dark-blue: #141466;
    --bgc: #DADAE6;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    transition: all 0.4s ease-in-out;
}

html,
body {
    min-height: 100vh !important;
    max-width: 100vw !important;
    background-color: var(--bgc);
}

body {
    display: flex !important;
    flex-direction: column !important;
    padding: calc(var(--size-scaler) * 3) !important;
    gap: var(--size-scaler) !important;
}

header,
main,
footer {
    padding: calc(var(--size-scaler) * 3) !important;
}

header {}

main {
    flex: 1 !important;
}

footer {}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.638);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: white;
}

.add {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    padding: 12px;
    border-radius: 12px;
    outline: none;
    border: none;
    display: flex;

}


.add button,
.add input {
    margin: 0;
    padding: 0;
    border: none;
}

.add input {
    border: var(--light-blue) 3px solid;
    border-radius: 12px;
    padding: 10px;
    width: 270px;
    font-size: large;
    background-color: var(--bgc);
    outline: none;
}



.add button {
    padding: 10px;
    border: var(--light-blue) 3px solid;
    border-radius: 10px;
    margin-left: 2%;
    background-color: var(--bgc);
    text-align: center;
    color: var(--light-blue);

}

.add button:hover {
    cursor: pointer;
}

ul {}

li {
    margin-left: 10%;
    list-style: none;
    margin-top: 1%;
    border: var(--light-blue) solid 2px;
    margin-right: 10%;
    padding: 10px 16px;
    border-radius: 12px;
    background-color: var(--light-blue);
    color: white;
    display: block;
}

li>span {
    float: right;
    color: var(--dark-blue);
    font-size: large;
    font-weight: 600;
}

li>p {
    max-width: 90%;
    display: inline-block;
}

.timestamp {
    float: right;
}

.list {
    margin-top: 5%;
    margin-bottom: 30%;
}