@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --blue: #2929CC;
    --light-blue: #6677CC;
    --dark-blue: #141466;
    --bgc: #bbbbbb;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    transition: all 0.4s ease-in-out;
}

html,
body {
    min-height: 100vh !important;
    max-width: 100vw !important;
    background-color: var(--bgc);
}

body {
    display: flex !important;
    flex-direction: column !important;
    padding: calc(var(--size-scaler) * 3) !important;
    gap: var(--size-scaler) !important;
}

header,
main,
footer {
    padding: calc(var(--size-scaler) * 3) !important;
}

header {}

main {
    flex: 1 !important;
}

footer {}


.add {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    padding: 12px;
    border-radius: 12px;
    outline: none;
    border: none;
    display: flex;

}


.add button,
.add input {
    margin: 0;
    padding: 0;
    border: none;
}

.add input {
    border: var(--light-blue) 4px solid;
    border-radius: 12px;
    padding: 10px;
    width: 250px;
    font-size: large;
    background-color: var(--bgc);
    outline: none;
}



.add button {
    border: var(--light-blue) 3px solid;
    border-radius: 10px;
    margin-left: 2%;
    text-align: center;
    color: var(--bgc);
    width: 50px;
    height: 50px;
    background-color: var(--light-blue);
}
.add span{
    scale: 1.3;
}

.add button span {
    margin-top: 10%;
}

.add button:hover {
    cursor: pointer;
}

ul {}

li {
    margin-left: 10%;
    list-style: none;
    margin-top: 2%;
    margin-right: 10%;
    padding: 15px 16px;
    border-radius: 12px;
    background: rgb(114,137,254);
    background: linear-gradient(66deg, rgba(114,137,254,1) 0%, rgba(86,86,233,1) 100%);
    color: white;
    display: block;
    font-size: large;
}

li>span {
    float: right;
    color: white;
    font-size: large;
    font-weight: 600;
}

li>p {
    max-width: 70%;
    display: inline-block;
}

.timestamp {
    float: right;
}

.list {
    margin-top: 5%;
    margin-bottom: 30%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: gray;
  }
